@model JobSityChallenge.Models.ChatRoomModel.Messages

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChatRoom</title>
</head>
<body>
    <form method="post" action="/ChatRoom/ChatRoom">
        <div>
            @foreach (var message in ViewData["messageList"] as List<JobSityChallenge.Models.ChatRoomModel.Messages>)
            {
                <label> @message.UserName  wrote: @message.Message at: @message.CreateDate </label>
                <br />
            }
        </div>

        <div>
            @Html.TextBoxFor(m => m.Message)
            
            <input type="submit" />
        </div>
    </form>
</body>
</html>
