@model JobSityChallenge.Models.Login.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" action="/Login/SignIn">
        <div>
            <p>
                <label for="UserName">UserName</label>
                @Html.TextBoxFor(x => x.UserName)
                @Html.ValidationMessageFor(x=>x.UserName,"","User name can not be empty" )
                <br />
                <br />
                <label for="Pwd">Password:</label>
                @Html.PasswordFor(x => x.Pwd)
                @Html.ValidationMessageFor(x=>x.Pwd,"","Password can not be empty")
                <br />
                <br />
                <input type="submit" value="LogIn" />
        </div>
    </form>
    <br />
    <br />

   
    

</body>
</html>
